#!/bin/bash

yum install httpd audit awslogs -y
sed -i -e '$a\n-a never,exclude -F dir=/var/log -k exclude_dir\n-w / -p wa -k monitor_filesystem_change\n-a always,exit -F arch=b64 -S rename,mkdir,rmdir,unlink,unlinkat,renameat -F auid>=500 -F auid!=-1 -F dir=/ -F key=change_in _file\n-w /bin/sudo -p rwxa -k sudo' /etc/audit/rules.d/audit.rules
sed -i -e '$a\n[/var/log/audit/audit.log]\ndatetime_format = %b %d %H:%M:%S\nfile = /var/log/audit/audit.log\nbuffer_duration = 5000\nlog_stream_name = {instance_id}\ninitial_position = start_of_file\nlog_group_name = /var/log/audit/audit.log' /etc/awslogs/awslogs.conf

sudo systemctl start awslogsd && sudo systemctl enable awslogsd.service

chkconfig auditd on && service auditd start && service auditd stop && service auditd restart